@import '../imports/client/styles/main';

@import url(https://fonts.googleapis.com/css?family=Oswald|Lora:400,700,400italic);

@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,300);

body {
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1,h2,h3,h4,h5,h6, textarea,
.message-chat-text-sender {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
p,a,li,blockquote, input, .headline,
.message-chat-text-body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

