.chat-input {

    input {
        position: absolute;
        bottom: 35px;
        box-sizing: border-box;
        left: 5px;
        right: 5px;
        height: 30px;
        width: 290px;
        border: 1px solid gray;
    }

    button {
        position: absolute;
        bottom: 5px;
        box-sizing: border-box;
        left: 5px;
        width: 290px;
        height: 30px;
    }
}