.info-msg {
    box-sizing: border-box;
    list-style: none;
    min-height: 10px;
    padding: 4px;
    position: relative;
    width: 295px;

    .info-wrapper {
        color: white;
        display: flex;
        font-size: .8em;
        justify-content: space-between;
        margin-left: 10px;
    }

}

.info-delete {
    position: absolute;
    right: -12px;
    top: 6px;
    font-size: .5em;
    color: rgba(255,255,255,.6);
    cursor: pointer;
}
