@-webkit-keyframes yellow {
  from {
    box-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 40px #B6FF00,
    0 0 70px #B6FF00,
    0 0 80px #B6FF00,
    0 0 100px #B6FF00,
    0 0 150px #B6FF00;
  }
  to {
    box-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #B6FF00,
    0 0 35px #B6FF00,
    0 0 40px #B6FF00,
    0 0 50px #B6FF00,
    0 0 75px #B6FF00;
  }
}

@-moz-keyframes yellow {
  from {
    box-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 40px #B6FF00,
    0 0 70px #B6FF00,
    0 0 80px #B6FF00,
    0 0 100px #B6FF00,
    0 0 150px #B6FF00;
  }
  to {
    box-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #B6FF00,
    0 0 35px #B6FF00,
    0 0 40px #B6FF00,
    0 0 50px #B6FF00,
    0 0 75px #B6FF00;
  }
}

@keyframes yellow {
  from {
    box-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 40px #B6FF00,
    0 0 70px #B6FF00,
    0 0 80px #B6FF00,
    0 0 100px #B6FF00,
    0 0 150px #B6FF00;
  }
  to {
    box-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #B6FF00,
    0 0 35px #B6FF00,
    0 0 40px #B6FF00,
    0 0 50px #B6FF00,
    0 0 75px #B6FF00;
  }
}

@-webkit-keyframes red {
  from {
    box-shadow: 0 0 10px #fff,
    0 0 20px #f00,
    0 0 30px #f00,
    0 0 40px #FF1111,
    0 0 70px #FF1111,
    0 0 80px #FF1111,
    0 0 100px #FF1111,
    0 0 150px #FF1111;
  }
  to {
    box-shadow: 0 0 5px #f00,
    0 0 10px #f00,
    0 0 15px #f00,
    0 0 20px #FF1111,
    0 0 35px #FF1111,
    0 0 40px #FF1111,
    0 0 50px #FF1111,
    0 0 75px #FF1111;
  }
}

@-moz-keyframes red {
  from {
    box-shadow: 0 0 10px #f00,
    0 0 20px #f00,
    0 0 30px #f00,
    0 0 40px #FF1111,
    0 0 70px #FF1111,
    0 0 80px #FF1111,
    0 0 100px #FF1111,
    0 0 150px #FF1111;
  }
  to {
    box-shadow: 0 0 5px #f00,
    0 0 10px #f00,
    0 0 15px #f00,
    0 0 20px #FF1111,
    0 0 35px #FF1111,
    0 0 40px #FF1111,
    0 0 50px #FF1111,
    0 0 75px #FF1111;
  }
}

@keyframes red {
  from {
    box-shadow: 0 0 10px #f00,
    0 0 20px #f00,
    0 0 30px #f00,
    0 0 40px #FF1111,
    0 0 70px #FF1111,
    0 0 80px #FF1111,
    0 0 100px #FF1111,
    0 0 150px #FF1111;
  }
  to {
    box-shadow: 0 0 5px #f00,
    0 0 10px #f00,
    0 0 15px #f00,
    0 0 20px #FF1111,
    0 0 35px #FF1111,
    0 0 40px #FF1111,
    0 0 50px #FF1111,
    0 0 75px #FF1111;
  }
}

@-webkit-keyframes yellowPulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,0, 0.4);
  }
  100% {
    -webkit-box-shadow: 0 0 0 70px rgba(255,0,0, 0);
  }
}
@keyframes yellowPulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,255,0, 0.4);
    box-shadow: 0 0 0 0 rgba(255,255,0, 0.4);
    background: orange;
  }
  100% {
    -moz-box-shadow: 0 0 0 70px rgba(255,0,0, 0);
    box-shadow: 0 0 0 70px rgba(255,0,0, 0);
    background: yellow;
  }
}

@keyframes redPulse {
  from { background-color: red; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #F99999; -webkit-box-shadow: 0 0 18px red; }
  to { background-color: red; -webkit-box-shadow: 0 0 9px #333; }
}

@keyframes red1 {
  from {  box-shadow: 0 0 10px #f00, 0 0 20px #f00, 0 0 30px #f00, 0 0 40px #FF1111, 0 0 70px #FF1111, 0 0 80px #FF1111, 0 0 100px #FF1111,  0 0 150px #FF1111; }
  to {    box-shadow: 0 0 5px #f00,  0 0 10px #f00, 0 0 15px #f00, 0 0 20px #FF1111, 0 0 35px #FF1111, 0 0 40px #FF1111, 0 0 50px #FF1111,   0 0 75px #FF1111; }
}

//@-webkit-keyframes red1 {
//  from {  text-shadow: 0 0 10px #f00, 0 0 20px #f00, 0 0 30px #f00, 0 0 40px #FF1111, 0 0 70px #FF1111, 0 0 80px #FF1111, 0 0 100px #FF1111,  0 0 150px #FF1111; }
//  to {    text-shadow: 0 0 5px #f00,  0 0 10px #f00, 0 0 15px #f00, 0 0 20px #FF1111, 0 0 35px #FF1111, 0 0 40px #FF1111, 0 0 50px #FF1111,   0 0 75px #FF1111; }
//}

@keyframes blue-pulse {
  from {
    box-shadow: 0 0 10px #bbf, 0 0 20px #bbf, 0 0 30px #bbf, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #2222FF, 0 0 150px #0000FF;
  }
  to {
    box-shadow: 0 0 5px #bbf, 0 0 10px #bbf, 0 0 15px #bbf, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #2222FF, 0 0 75px #0000FF;
  }
}