@-webkit-keyframes yellow {
  from {
    box-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 40px #B6FF00,
    0 0 70px #B6FF00,
    0 0 80px #B6FF00,
    0 0 100px #B6FF00,
    0 0 150px #B6FF00;
  }
  to {
    box-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #B6FF00,
    0 0 35px #B6FF00,
    0 0 40px #B6FF00,
    0 0 50px #B6FF00,
    0 0 75px #B6FF00;
  }
}

@-moz-keyframes yellow {
  from {
    box-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 40px #B6FF00,
    0 0 70px #B6FF00,
    0 0 80px #B6FF00,
    0 0 100px #B6FF00,
    0 0 150px #B6FF00;
  }
  to {
    box-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #B6FF00,
    0 0 35px #B6FF00,
    0 0 40px #B6FF00,
    0 0 50px #B6FF00,
    0 0 75px #B6FF00;
  }
}

@keyframes yellow {
  from {
    box-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 40px #B6FF00,
    0 0 70px #B6FF00,
    0 0 80px #B6FF00,
    0 0 100px #B6FF00,
    0 0 150px #B6FF00;
  }
  to {
    box-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #B6FF00,
    0 0 35px #B6FF00,
    0 0 40px #B6FF00,
    0 0 50px #B6FF00,
    0 0 75px #B6FF00;
  }
}

@-webkit-keyframes red {
  from {
    box-shadow: 0 0 10px #fff,
    0 0 20px #f00,
    0 0 30px #f00,
    0 0 40px #FF1111,
    0 0 70px #FF1111,
    0 0 80px #FF1111,
    0 0 100px #FF1111,
    0 0 150px #FF1111;
  }
  to {
    box-shadow: 0 0 5px #f00,
    0 0 10px #f00,
    0 0 15px #f00,
    0 0 20px #FF1111,
    0 0 35px #FF1111,
    0 0 40px #FF1111,
    0 0 50px #FF1111,
    0 0 75px #FF1111;
  }
}

@-moz-keyframes red {
  from {
    box-shadow: 0 0 10px #f00,
    0 0 20px #f00,
    0 0 30px #f00,
    0 0 40px #FF1111,
    0 0 70px #FF1111,
    0 0 80px #FF1111,
    0 0 100px #FF1111,
    0 0 150px #FF1111;
  }
  to {
    box-shadow: 0 0 5px #f00,
    0 0 10px #f00,
    0 0 15px #f00,
    0 0 20px #FF1111,
    0 0 35px #FF1111,
    0 0 40px #FF1111,
    0 0 50px #FF1111,
    0 0 75px #FF1111;
  }
}

@keyframes red {
  from {
    box-shadow: 0 0 10px #f00,
    0 0 20px #f00,
    0 0 30px #f00,
    0 0 40px #FF1111,
    0 0 70px #FF1111,
    0 0 80px #FF1111,
    0 0 100px #FF1111,
    0 0 150px #FF1111;
  }
  to {
    box-shadow: 0 0 5px #f00,
    0 0 10px #f00,
    0 0 15px #f00,
    0 0 20px #FF1111,
    0 0 35px #FF1111,
    0 0 40px #FF1111,
    0 0 50px #FF1111,
    0 0 75px #FF1111;
  }
}

@-webkit-keyframes blue {
  from {
    box-shadow: 0 0 1px #fff,
    0 0 2px #fff,
    0 0 3px #fff,
    0 0 4px #228DFF,
    0 0 7px #228DFF,
    0 0 8px #228DFF,
    0 0 10px #228DFF,
    0 0 15px #228DFF;
  }
  to {
    box-shadow: 0 0 0px #fff,
    0 0 1px #fff,
    0 0 1.5px #fff,
    0 0 2px #228DFF,
    0 0 3.5px #228DFF,
    0 0 4px #228DFF,
    0 0 5px #228DFF,
    0 0 7.5px #228DFF;
  }
}

@-moz-keyframes blue {
  from {
    box-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 40px #228DFF,
    0 0 70px #228DFF,
    0 0 80px #228DFF,
    0 0 100px #228DFF,
    0 0 150px #228DFF;
  }
  to {
    box-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #228DFF,
    0 0 35px #228DFF,
    0 0 40px #228DFF,
    0 0 50px #228DFF,
    0 0 75px #228DFF;
  }
}

@keyframes blue {
  from {
    box-shadow: 0 0 1.0px #5Af,
    0 0 2.0px #7Af,
    0 0 3.0px #7Af,
    0 0 4.0px #228DFF,
    0 0 7.0px #228DFF,
    0 0 8.0px #228DFF,
    0 0 10.0px #228DFF,
    0 0 15.0px #228DFF;
  }
  to {
    box-shadow: 0 0 .5px #7Af,
    0 0 1.0px #7Af,
    0 0 1.5px #7Af,
    0 0 2.0px #228DFF,
    0 0 3.5px #228DFF,
    0 0 4.0px #228DFF,
    0 0 5.0px #228DFF,
    0 0 7.5px #228DFF;
  }
}