.boxed-view {
  //background: $boxed-view-overlay-bg;
  background-image: url('/images/traditions-90250-satellite-tilt-map-grad.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width:  100vw;
}

.boxed-view--modal {
  background: fade-out($boxed-view-overlay-bg, .3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.boxed-view__box {
  //background-color: $boxed-view-bg;
  background-color: rgba(255,255,255,.9);
  padding: 2.4rem;
  text-align: center;
  width: 24rem;
}

.boxed-view__form {
  display: flex;
  flex-direction: column;
}

.Select-placeholder {
    &:active {
        outline: none;
    }
    &:focus {
        outline: none;
    }
}
