.generic-box {
    background: $shade1;
    border: 1px solid grey;
    width: 320px;
    height: 600px;
    position: relative;

}

.generic-filter input {
    font-style: italic;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-top: 2px;
    width: 90%;
}

.generic-list {
    background-color: $shade1;
    height:498px;
    overflow: auto;
}

.generic-input {
    background: rgba(0,0,0,.2);
    color: white;
    position: absolute;
    bottom: 0;
    height: 55px;
    width: 320px;
}