#map {
    //background-attachment: fixed;
    //background-size: cover;
    //img {
    //  height: 100%;
    position: relative;
    width: 100%;
    //  object-fit: contain;
    //  background: rgba(0,0,0,.3);
    //  top: 0;
    //  left: 0;
    //  opacity: .3;
    //}
}

//.map-overlay {
//    position: absolute;
//    background-color: rgba(255,0,0,.4);
//    top: 0;
//    bottom: 0;
//    left: 0;
//    right: 0;
//}

svg {
    width: 98%;
    height: auto;
    max-height: 736px;
}

path, polygon, rect {
   fill: rgba(0,0,0,.3);
}

.unassigned {
    fill: rgba(0,0,0,.5);
}

// states

.online {
    stroke: yellow;
    stroke-width: 6px;
}

.signedUp {
    fill: rgba(0,0,0,.1);
}

.number, .street {
    opacity: 0;
}

.number {
    transition: opacity 2s ease;
}

.street {
    transition: opacity 1s ease;
}

#map:hover .street {
    opacity: 1;
}

#map:hover .number {
    opacity: 1;
}

.need {
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    -webkit-animation: yellow 1.5s ease-in-out infinite alternate;
    -moz-animation: yellow 1.5s ease-in-out infinite alternate;
    animation: yellow 1.5s ease-in-out infinite alternate;
}

.need-urgent {
    border-radius: 50%;
    background-color: red;
    position: absolute;
    -webkit-animation: red 1.5s ease-in-out infinite alternate;
    -moz-animation: red 1.5s ease-in-out infinite alternate;
    animation: red 1.5s ease-in-out infinite alternate;
}

.offer {
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    -webkit-animation: blue .5s ease-in-out infinite alternate;
    -moz-animation: blue .5s ease-in-out infinite alternate;
    animation: blue .5s ease-in-out infinite alternate;
}