#map {
    //background-attachment: fixed;
    //background-size: cover;
    //img {
    //  height: 100%;
    position: relative;
    width: 100%;
    //  object-fit: contain;
    //  background: rgba(0,0,0,.3);
    //  top: 0;
    //  left: 0;
    //  opacity: .3;
    //}
}

//.map-overlay {
//    position: absolute;
//    background-color: rgba(255,0,0,.4);
//    top: 0;
//    bottom: 0;
//    left: 0;
//    right: 0;
//}

svg {
    width: 98%;
    height: auto;
    max-height: 800px;
}

path, polygon, rect {
   fill: rgba(0,0,0,.3);
}

.unassigned {
    fill: rgba(0,0,0,.5);
}

// states

.online {
    stroke: rgba(255,255,255,.8);
    stroke-width: 6px;
}

.signedUp {
    fill: rgba(0,0,0,.1);
}

.number, .street {
    opacity: 0;
}

.number {
    transition: opacity 2s ease;
}

.street {
    transition: opacity 1s ease;
}

#map:hover .street {
    opacity: 1;
}

#map:hover .number {
    opacity: 1;
}

.need {
    border-radius: 50%;
    //background-color: red;
    position: absolute;

    -webkit-animation: red 3s ease-in-out infinite alternate;
    -moz-animation: red 3s ease-in-out infinite alternate;
    animation: red 3s ease-in-out infinite alternate;
}

.need-urgent {
    border-radius: 50%;
    position: absolute;
    -webkit-animation: redPulse 2s ease-out infinite;
    -moz-animation: redPulse 2s ease-out infinite;
    animation: redPulse 2s ease-out infinite;
}

.need-message-urgent {
    -webkit-box-shadow: 0px 0px 27px 2px rgba(255,255,0,1);
    -moz-box-shadow: 0px 0px 27px 2px rgba(255,255,0,1);
    box-shadow: 0px 0px 27px 2px rgba(255,255,0,1);
}

.marker-text-request {
    background: rgba(0,0,0,.5);
    border-radius: 3px;
    color: white;
    font-size: .7em;
    margin-left: 16px;
    margin-top: -4px;
    opacity: 0;
    padding: 5px;
    transition: opacity 1s ease;
    width: 70px;
}

.marker-text-offer {
    background: rgba(0,0,0,.5);
    border-radius: 3px;
    color: white;
    font-size: .7em;
    margin-left: -87px;
    margin-top: -4px;
    opacity: 0;
    padding: 5px;
    transition: opacity 1s ease;
    width: 70px;
}

.need:hover         .marker-text-request { opacity: 1; }
.need-urgent:hover  .marker-text-request { opacity: 1; }
.offer:hover        .marker-text-offer { opacity: 1; }
.offer-free:hover   .marker-text-offer { opacity: 1; }

.offer {
    border-radius: 50%;
    position: absolute;
    -webkit-animation: green 2s ease-in-out infinite alternate;
    -moz-animation: green 2s ease-in-out infinite alternate;
    animation: green 2s ease-in-out infinite alternate;
}

.offer-free {
    border-radius: 50%;
    position: absolute;
    -webkit-animation: green-pulse 2s ease-out infinite;
    -moz-animation: green-pulse 2s ease-out infinite;
    animation: green-pulse 2s ease-out infinite;
}

//.offer-text {
//    color: blue;
//    -webkit-animation: green-pulse-text 1s ease-in-out infinite alternate;
//    -moz-animation: green-pulse-text 1s ease-in-out infinite alternate;
//    animation: green-pulse-text 1s ease-in-out infinite alternate;
//}