.user {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 5px;
    margin-top: 5px;
    width: 50px;
}

.user-list {
    background-color: $shade1;
    height:484px;       // different from .generic-list
    overflow: auto;
}

.user-img {
    border-radius: 50%;
    height: 30px;
    //margin-left: 5px;
}

.user-short-name {
    color: white;
    font-size: .7em;
    text-align: center;
    width: 100%;
}
