.user-display {
    //align-items: center;
    background-color: rgba(0,0,0,.1);
    //display: flex;
    //justify-content: center;
    margin-left: 5%;
    padding-bottom: 4px;
    padding-top: 4px;
    width: 320px;
}

.user-filter input {
    margin-bottom: 4px;
    margin-left: 4px;
    width: 90%;
}

.user-list {
    //-webkit-filter: blur(4px);
    //-moz-filter: blur(4px);
    //-o-filter: blur(4px);
    //-ms-filter: blur(4px);
    //filter: blur(4px);
    background-color: rgba(0,0,0,.1);
    height:375px;
    overflow: auto;
}

.user {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 5px;
    margin-top: 5px;
    width: 50px;
}

.user-img {
    border-radius: 50%;
    height: 30px;
    //margin-left: 5px;
}

.user-short-name {
    font-size: .7em;
    text-align: center;
    width: 100%;
}
