.currently {

    display: flex;
    align-items: center; // center vertically
    canvas {
        width: 100px !important;
        height: 50px !important;
        margin-top: 3px !important;
    }

    .nowTemp {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        margin-left: -10px;
        .currentTemp {
            font-size: 2em;
            text-align: center;
        }
        .minMaxTemp {
          font-size: .85em;
          text-align: center;
          margin-bottom: -8px;
        }
    }

}

.forecast {
    canvas {
        height: 30px !important;
        width: 60px !important;
    }
}

.weather-msg {
    font-family: "Lato", sans-serif;
    font-size: .75em;
    font-weight: 400;
    margin-top: 7px;
}

