.service-msg {
    background: rgba(0,0,0,.15);
    //border-top-left-radius: 14px;
    //border-bottom-left-radius: 14px;
    list-style: none;
    min-height: 33px;
    margin-bottom:  10px;
    position: relative;

    .service-msg-pic {
        img {
            border-radius: 50%;
            height: 35px;
            left: 10px; top: 5px;
            border: 1px double lightgray;
            position: absolute;
        }
    }

    .service-text {
        height: 30px;
        margin-left: 64px;
        margin-right: 24px;
        position: relative; // to allow for delete 'x'
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    .service-text-sender, .service-text-reputation {
        //font-weight: bold;
        color: rgba(255,255,255,0.6);
        font-size: .7em;
        margin-top: 15px;
    }

    .service-categories {
        color: white;
        font-weight: bold;
        margin-left: 10px;
        margin-top: 20px;
        white-space: pre-wrap;
    }

    .service-body {
        color: white;
        margin: 10px;
        //margin-bottom: 10px;
        //margin-left: 10px;
        //margin-right: 10px;
        font-size: .8em;
        //padding: 5px;
        white-space: pre-wrap;
        width: 241px;
        word-wrap: break-word;
    }

}

.service-delete {
    position: absolute;
    right: 8px;
    top: 5px;
    font-size: .5em;
    color: rgba(255,255,255,.6);
    cursor: pointer;
}

.service-date {
    color: rgba(255,255,255,.2);
    font-size: .5em;
    text-align: center;
}

.service-thumbs-o-box {
    color: white;
    position: absolute;
    bottom: 20px; right: 7px;

    .service-arrow-up {
        font-size: 0.8em;
    }
}