.service-box {
    background: $shade1;
    border: 1px solid grey;
    width: 320px;
    height: 600px;
    position: relative;
}

.service-filter input {
    font-style: italic;
    margin-bottom: 4px;
    margin-left: 4px;
    width: 91%;
}