.back-link {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 12px;
    text-decoration: none;
}

.masonry-wrapper {
    background-color: #408DE7;
    height: 2000px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.announcement {
    background: rgba(255,255,255,.7);
    //outline: 10px solid transparent;
    box-sizing: border-box;
    width: 450px !important;
    outline: 10px solid #408DE7;
    padding: 10px;

    img {
        max-width: 100% !important;
    }

}

.announcement-link {
    text-decoration: none !important;
}

.announcement-display {
    color: white;
    font-size: 1.4em;
    text-align: center;
    background-color: rgba(0,0,0,.4);
    height: 25px;
}

.headline {
    opacity: 1;
    transition: opacity 1s ease;
}

.faded {
    opacity : 0;
}